<!--Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
{% load staticfiles %}
<html>
<head>
    <title>豆腐块注册</title>
    <!-- Custom Theme files -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css" media="all"/>
    <!-- Custom Theme files -->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="keywords" content="注册"/>
    <!--Google Fonts-->
    <!--<link href='//fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    --><!--Google Fonts-->
</head>
<body>
<!--header start here-->
<div class="login-form">
    <div class="top-login">
        <span><img src="{% static 'login_images/group.png' %}" alt=""/></span>
    </div>
    <h1>注册</h1>
    <div class="login-top">
        <form method="post" action="{% url 'register' %}">
            <div class="login-ic">
                <i></i>
                <input type="text" id="id_email" name="email" value="{{ register_form.email.value }}"
                       placeholder="请输入您的邮箱地址"/>
                <div class="clear"></div>
            </div>
            <div class="login-ic">
                <i class="icon"></i>
                <input name="password" id="password_l" type="password" placeholder="请输入您的密码"/>
                <div class="clear"></div>
            </div>
            <div class="login-ic">
                <i class="icon"></i>
                {{ register_form.captcha }}
                <div class="clear"></div>
            </div>

            <div class="log-bwn">
                <input type="submit" value="Login">
            </div>
            {% csrf_token %}
        </form>
    </div>
    <p class="copy">© 2016 xxxxxxxxxxx</p>
</div>
<!--header start here-->
</body>
</html>